@use '../utils' as *;

/*----------------------------------------*/
/* caches-privacy style
/*----------------------------------------*/
.caches-privacy {
    position: fixed;
    bottom: 30px;
    inset-inline-start: 30px;
    width: 430px;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 80;
    backdrop-filter: blur(22px);
    background: var(--td-white);
    box-shadow: 0px 299px 500px rgba(7, 20, 60, 0.0363503), 0px 66.7856px 111.682px rgba(7, 20, 60, 0.0436), 0px 19.8838px 33.2505px rgba(7, 20, 60, 0.06);
	display: none;
	@media #{$xxs} {
        width: auto;
        padding: 20px;
        inset-inline-start: 15px;
        inset-inline-end: 15px;
	}
	.content {
		.title {
			font-size: 20px;
			margin-bottom: 15px;
			@media #{$xs} {
				font-size: 18px;
			}
		}
		margin-bottom: 15px;
		p {
			font-size: 14px;
			margin-bottom: 0;
			a {
				color: $primary;
			}
		}
	}
	.caches-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.learn-more {
			font-size: 15px;
			font-weight: 500;
			&:hover {
				text-decoration: underline;
				color: var(--td-primary);
			}
		}
		.shifter-btn {
			height: 40px;
			.btn-hover-slide {
				padding: 0px 26px;
			}
		}
	}
}