@use '../utils' as u;
@use '../utils' as *;

/*----------------------------------------*/
/*  Professional features css
/*----------------------------------------*/
.professional-features-item {
    background: var(--td-white);
    border: 1px solid var(--td-border-primary);
    border-radius: 20px;
    padding: 55px 40px 55px;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    @media #{$xl,$lg,$md,$xxs} {
        padding: 45px 30px 45px;
    }
    @include dark {
        background: rgba(255, 255, 255, 0.16);
        border-color: rgba(255, 255, 255, 0.3);
    }
    &::before {
        position: absolute;
        content: "";
        inset: 0;
        @include border-radius(20px);
        padding: 1px;
        -webkit-mask: linear-gradient(var(--td-white) 0 0) content-box, linear-gradient(var(--td-white) 0 0);
        -webkit-mask-composite: xor;
        background: linear-gradient( 135.52deg,rgba(255, 126, 66, 1) 0%,  rgba(255, 126, 66, 1) 100%);
        mask-composite: exclude;
        z-index: -1;
        opacity: 0;
        transition: .3s;
    }
    &:hover {
        box-shadow: 0px 36px 75px -4px rgba(19, 8, 4, 0.08);
        border-color: transparent;
        &::before {
            opacity: 1;
        }
    }
    .icon {
        padding-bottom: 45px;
        border-bottom: 1px solid var(--td-border-primary);
        margin-bottom: 30px;
        position: relative;
        @media #{$xs} {
            padding-bottom: 35px;
            margin-bottom: 25px;
        }
        &::before {
            position: absolute;
            content: "";
            width: 40%;
            height: 1px;
            background-color: var(--td-primary);
            bottom: -1px;
            inset-inline-start: 0;
        }
        span {
            max-width: 81px;
            display: block;
            @media #{$lg,$md} {
                max-width: 65px;
            }
            @media #{$xs} {
                max-width: 55px;
            }
        }
    }
    .content {
        .title {
            margin-bottom: 20px;
            font-size: 26px;
            @media #{$xl} {
                font-size: 24px;
            }
            @media #{$xs} {
                font-size: 22px;
            }
            a {
                &:hover {
                    color: var(--td-primary);
                }
            }
        }
    }
}